<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/twitter.png">
    <title><%=user%>'s Profile - Twitter</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style type="text/css">
        .posts {
            border-bottom: 1px solid #cccccc;
        }
    </style>
</head>
<body>
<%- include('header'); -%>
<div class="container">
    <img src="/avatars/<%=user_image%>" alt="image"/>
    <h1><%=user%>'s Profile</h1>
    <div class="row col-lg-6">
        <%for (let i = 0; i < posts.length; i ++){%>
        <div class="posts">
            <p> <%=posts[i].message%></p>
            <p><%=posts[i].datetime%></p>
        </div>
        <%}%>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
